<section id="account_section">
  <%= render 'shared/sidebar' %>
    <div id="besties-table" class="main_side">
      <div id="top_header">
        <h2>Besties</h2>
      </div>
      <div class="row">
       <div class="col-6">
        <ul class="top_blk">
          <li>
            <div class="dropdown">
              <button class="filter text dropdown-toggle fs_5 fw_600" data-bs-toggle="dropdown">
                <div class="img_blk">
                  <img src="/assets/filter-icon.svg" alt="">
                </div>
                Filters
              </button>
              <ul class="dropdown-menu" >
                <li><a href="bestie?key=sex">Sex</a></li>
                <li><a href="bestie?key=age">Age</a></li>
                <li><a href="bestie?key=country">Country</a></li>
              </ul>
            </div>
          </li>
          <li>
            <%= form_for :sub_admin, :url => { :controller => 'bestie', :action => 'index' }, :html => { :method => 'get', class: 'form_blk' } do |f| %>
              <div class="icon_blk">
                <%= image_tag '/assets/Search.svg' %>
              </div>
              <%= text_field_tag :search, nil, placeholder: 'Search', id: "csearchbtn", class: 'input', value: params[:search] %>
              <input type="submit" id="searchformc" hidden>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="right_blk">
          <a href="/admins/bestie/export_to_csv" type="button" class="filter">
            <div class="img_blk">
              <img src="/assets/download.svg" alt="">
            </div>
            Download CSV
          </a>
        </ul>
      </div>
    </div>

    <!-- table_section -->
    <div id="table-besty">
      <div class="table__blk">
        <table>
          <thead>
            <tr>
              <th style="width: 22rem;">Full Name</th>
              <th style="width: 22rem;">Email</th>
              <th style="width: 15rem;">Phone Number</th>
              <th style="width: 18rem;">Country</th>
              <th style="width: 16rem;">Age</th>
              <th style="width: 16rem;">Sex</th>
              <th style="width: 13rem;">Experience</th>
              <th style="width: 16rem;">Rate</th>
            </tr>
          </thead>
          <tbody>
            <% @besties.each do |bestie| %>
              <tr>
                <td class="fw-bold"><%= link_to bestie&.full_name, admins_bestie_path(id: bestie.id) %></td>
                <td><%= bestie&.email %></td>
                <td><%= bestie&.phone_number %></td>
                <td><%= bestie&.country %></td>
                <td><%= bestie&.age %></td>
                <td><%= bestie&.sex %></td>
                <td><%= bestie&.experience %></td>
                <td class="color-green">$<%= bestie&.rate %>/h</td>
              </tr>
            <% end %>
          </tbody>
      </table>
      <%if @besties.present? %>
        <div class="digg_pagination mt-5">
          <p class="me-auto"><%= page_entries_info @besties %></p>
          <%= will_paginate @besties %>
        </div>
      <%end%>
    </div>
  </div>
</div>
</section>
<!-- account_section -->


<!-- Main Js -->
<script src="/assets/main.js"></script>
