<aside id="sidebar">
  <div class="inside">
    <div class="logo_blk">
      <div class="logo">
        <a href="<%= admins_dashboard_index_path %>">
          <img src="/assets/logo_color.svg" alt="">
        </a>
      </div>
    </div>
    <ul>
      <li><a href="<%= admins_dashboard_index_path %>" class="<%= check_controller('dashboard') %>">Dashboard</a></li>
      <li><a href="<%= admins_users_path %>" class="<%= check_controller('users') %>">Users</a></li>
      <li><a href="<%= admins_bestie_index_path %>" class="<%= check_controller('bestie') %>">Besties</a></li>
      <li><a href="<%= admins_sub_admins_path %>" class="<%= check_controller('sub_admins') %>">Sub Admins</a></li>
      <li><a href="<%= admins_guidelines_path %>" class="<%= check_controller('guidelines') %>">Guidelines</a></li>
      <li><a href="<%= admins_supports_path %>" class="<%= check_controller('supports') %>">Support</a></li>
    </ul>
    <div class="log_blk">
      <a href="<%=destroy_admin_session_path%>" data-method="delete">
        <img src="/assets/icon-logout.svg" alt="">
        Logout
      </a>
    </div>
  </div>
</aside>
