<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="users" class="main_side">
    <div id="top_header">
      <h2>User</h2>
    </div>

    <div class="row">
     <div class="col-6">
      <ul class="top_blk">
        <li>    
          <%= form_for :user, :url => { :controller => 'users', :action => 'index' }, :html => { :method => 'get', class: 'form_blk filter_form filter' } do |f| %>
            <div class="img_blk">
              <img src="/assets/filter-icon.svg" alt="">
            </div>
            Filter
            <%= select_tag(:user, options_for_select([[ ],["Age"],["Sex"],["Country"]] ), class:"select dropdow-menu") %>
          <% end %>
        </li>
        <li>
        <%= form_for :sub_admin, :url => { :controller => 'users', :action => 'index' }, :html => { :method => 'get', class: 'form_blk' } do |f| %>
          <div class="icon_blk">
            <%= image_tag '/assets/Search.svg' %>
          </div>
          <%= text_field_tag :search, nil, placeholder: 'Search', id: "csearchbtn", class: 'input', value: params[:search] %>
          <input type="submit" id="searchformc" hidden>
        <% end %>
        </li>
      </ul>
    </div>
    <div class="col-6">
      <ul class="right_blk">
        <button type="button" class="filter">
          <div class="img_blk">
            <img src="/assets/download.svg" alt="">
          </div>
          <%= link_to 'Download CSV', export_to_csv_admins_users_path %>
        </button>
      </ul>
    </div>
  </div>

  <!-- table_section -->
  <div id="table_users">
    <div class="table__blk">
      <table>
        <thead>
          <tr>
            <th style="width: 15rem;">Full Name</th>
            <th style="width: 20rem;">Email</th>
            <th style="width: 15rem;">Phone Number</th>
            <th style="width: 14rem;">Country</th>
            <th style="width: 7rem;">Age</th>
            <th style="width: 11rem;">Sex</th>
            <th style="width: 28rem;">Interest</th>
          </tr>
        </thead>
        <tbody>
          <% @end_users&.each do |user| %>
            <tr>
                <td class="fw-bold"><%= link_to user&.full_name, admins_user_path(id: user.id) %></td>
                <td><%= user&.email %></td>
                <td><%= user&.phone_number %></td>
                <td><%= user&.country %></td>
                <td><%= user&.age %></td>
                <td><%= user&.sex %></td>
                <td class="interest">
                  <% user&.interests.each do |interest|%>
                    <span><%= interest&.title %></span>
                  <%end%>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
       <%if @end_users.present? %>
        <div class="digg_pagination mt-5">
          <p class="me-auto"><%= page_entries_info @end_users %></p>
          <%= will_paginate @end_users %>
        </div>
      <%end%>
    </div>
  </div>

<!-- pagination_section -->
  <!-- <div class="paginate_sec">
    <p>Showing 1 to 9 of 200 entries</p>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page_item disable me-4">
          <a class="page_link" href="#" aria-label="Previous">
            <div class="icon_blk me-2">
              <img src="/assets/left arrow.svg" aria-hidden="true" alt="icon">
            </div>
            Previous
          </a>
        </li>
        <li class="page_no "><a class="" href="#">1</a></li>
        <li class="page_no"><a class="" href="#">2</a></li>
        <li class="page_no"><a class="" href="#">3</a></li>
        <li class="page_item ms-4">
          <a class="page_link fw_600" href="#" aria-label="Previous">
            Next
            <div class="icon_blk ms-2">
              <img src="/assets/right arrow.svg" aria-hidden="true" alt="icon">
            </div>
          </a>
        </li>
      </ul>
    </nav>
  </div> -->
</div>
</section>
<!-- account_section -->


<!-- Main Js -->
<script src="/assets/main.js"></script>

<style>
.filter > select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
</style>