<section id="account_section">
  <%= render 'shared/sidebar' %>
  <div id="dash" class="main_side">
    <div id="top_header">
      <h2>Dashboard</h2>
                <!-- <div class="header_side">
                    <div class="form_blk input">
                        <img src="/assets/icon-search.svg" alt="">
                        <input type="text" name="" id="" class="input" placeholder="Search">
                    </div>
                    <button type="button" class="noti_btn input">
                        <img src="/assets/icon-bell.svg" alt="">
                        <span>7</span>
                    </button>
                  </div> -->
    </div>
    <h4 class="mt-5">Users</h4>
    <div class="row flex_row dash_row">
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">2.3k</div>
            <p>Total Downloads</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">901</div>
            <p>Current Online</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num">1.2k</div>
            <p>Total Transactions</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-5">Genders</h4>
    <div class="row flex_row dash_row">
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num"><%= @male %></div>
            <p>Total Male</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num"><%= @female %></div>
            <p>Total Female</p>
          </div>
        </div>
      </div>
    </div>
    <h4 class="mt-5">Subscriptions</h4>
    <div class="row flex_row dash_row">
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num"><%= @bronze_subscriptions if @bronze_subscriptions%></div>
            <p>Total 1 Day Premium</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num"><%= @silver_subscriptions if @silver_subscriptions%></div>
            <p>Total 3 Day Premium</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="dash_blk">
          <div class="txt">
            <div class="num"><%= @gold_subscriptions if @gold_subscriptions%></div>
            <p>Total 3 Week Premium</p>
          </div>
        </div>
      </div>
    </div>
    <h3 class="mt-5">Recent Users</h3>
    <!-- table_section -->
    <div id="table_users">
      <div class="table__blk">
        <table>
          <thead>
            <tr>
              <th style="width: 15rem;">Full Name</th>
              <th style="width: 20rem;">Email</th>
              <th style="width: 15rem;">Phone Number</th>
              <th style="width: 14rem;">Country</th>
              <th style="width: 7rem;">Age</th>
              <th style="width: 11rem;">Sex</th>
              <th style="width: 30rem;">Interest</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="fw-bold"><%= user&.full_name %></td>
                <td><%= user&.email %></td>
                <td><%= user&.phone_number %></td>
                <td><%= user&.country %></td>
                <td><%= user&.age %></td>
                <td><%= user&.sex %></td>
                <td class="interest">
                  <% user&.interests.each do |interest|%>
                    <span><%= interest&.title %></span>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%if @users.present? %>
        <div class="digg_pagination mt-5">
          <p class="me-auto"><%= page_entries_info @users %></p>
          <%= will_paginate @users %>
        </div>
      <%end%>
      </div>
    </div>
  </div>
</section>
  <!-- account_section -->


  <!-- Main Js -->
<script src="/assets/main.js"></script>
